.c-quienes-somos.bg-alt {
	background-color: $background-color-alt;
}

.c-quienes-somos {
	font-size: 14px;
}

.quienes-somos__title {
	font-size: 24px;
}
.c-quienes-somos__description {
	margin-bottom: 1rem;
}

.inline-panels__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $background-color-hightlight;
	padding: 1rem;
	border-radius: 8px;
	margin-bottom: 2rem;
	
	@media only screen and (max-width: $tablet) {
		margin-top: 1rem;
		background-color: $background-color;
		padding: 0;
	}
}

.inline-panels {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	@media only screen and (max-width: $tablet) {
		margin-top: 1rem;
		flex-direction: column;
		background-color: $background-color;
		padding: 0;
	}
}

.inline-panel {
	margin-left: 0.5rem;
	margin-bottom: 0;
	text-align: center;
	width: 33%;
	
	@media (max-width: $tablet) {
		margin-left: 0;
		margin-bottom: 1rem;
		border-radius: 8px;
		padding: 1rem;
		background-color: $background-color-hightlight;
		width: 100%;
	}

	&.special {
		margin-top: 2rem;
		width: 100%;

		@media only screen and (max-width:$tablet) {
			margin-top: 0;
		}
	}
}

.inline-panel p {
	margin-bottom: 0;
}

.c-quienes-somos a {
	color: $primary-color;
	font-weight: bold;
	text-decoration: underline;
}

.quienes-somos__footer p {
	margin-bottom: 0;
}

.inline-panel__img {
	width: 200px;
	height: auto;
}

.canada-logo {
	max-width: 500px;
}