<!-- Content in half -->
{% assign c = "c-quienes-somos" %}
<section class="{{c}} animate {%if include.background_color_alt %} bg-alt {%endif %}">
  <section class="container">
		<h2 class="quienes-somos__title">¿Quiénes somos?</h2>
		<br>
		<p class="{{c}}__description">SocorroBot es un proyecto colaborativo que inició a finales de 2019, ha sido realizado de forma voluntaria con recursos técnicos y humanos propios, por tres organizaciones y una especialista en diseño de información:</p>
		<div class="inline-panels__container">
			<div class="inline-panels">
				<div class="inline-panel">
					<a href="https://codeandomexico.org/"><img class="inline-panel__img" src="/images/codeando_color.png" alt="Codeando México"></a>
					<p><b>Codeando México</b> es una organización basada en comunidad que se enfoca en el uso de tecnología y datos para resolver problemas públicos.</p>
				</div>
				<div class="inline-panel">
					<a href="https://quintoelab.org/"><img class="inline-panel__img" src="/images/quinto_color.png" alt="Quinto Elemento Lab"></a>
					<p><b>Quinto Elemento Lab</b>  es un laboratorio de innovación e investigación periodística con experiencia y proyectos sobre el tema de la desaparición en México, entre ellos el proyecto <a href="https://adondevanlosdesaparecidos.org/">A dónde van los desaparecidos</a>.</p>
				</div>
				<div class="inline-panel">
					<a href="https://www.tecnicasrudas.org/"><img class="inline-panel__img" src="/images/tecnicas_color.png" alt="Técnicas Rudas"></a>
					<p><b>Técnicas Rudas</b> es una organización que trabaja con colectivos de familiares de personas desaparecidas en el ámbito de diferentes usos de la tecnología, investigación y creación de alianzas entre múltiples actores, como <a href="narrativasymemorias.org">narrativasymemorias.org</a> y <a href="desaparecerenpademia.org">desaparecerenpademia.org</a></p>
				</div>
			</div>
			<div class="inline-panels">
				<div class="inline-panel special">
					<p><a href="https://twitter.com/_yosune">Yosune Chamizo Alberro</a> es especialista en diseño de información, tiene experiencia utilizando tecnología, datos y mapas desde 2008.</p>
				</div>
			</div>
		</div>
		<div class="quienes-somos__footer">
			<p>Como parte del equipo extendido fue invaluable el trabajo de ilustración de <a href="#">Alejandra Saavedra</a>, el diseño web a cargo de <a href="#">Cristian Parra</a> y el desarrollo web por <a href="https://www.linkedin.com/in/davidpedrozasegoviano/">David Pedroza (Bubu)</a>.</p>
		</div>
  </section>
</section>
<section class="container">
	<h2 class="quienes-somos__title">Agradecimientos</h2>
	<br>
	<p class="{{c}}__description">Este proyecto es posible gracias a quienes nos acompañaron y retroalimentaron en el proceso. A Francisca Skoknic, Volga de Pina, Ana Lorena Delgadillo, Federico Rodríguez, Nancy López, Natalia Pérez, Heroy Muñoz y a los colectivos <a href="https://www.facebook.com/buscadorxs/">Buscadoras de Nuevo León A.C.</a>, <a href="https://es-la.facebook.com/grupovidalaguna/">Grupo V.I.D.A. Laguna</a>, <a href="https://twitter.com/MilynaliRedAC">Mylinaly Red</a>, <a href="https://twitter.com/Voz_Dignidadslp">Voz y dignidad por los nuestros</a> y <a href="https://twitter.com/VozdelosDesapa">Voz de los Desaparecidos Puebla</a> y a todas las personas que nos ayudaron con las pruebas de usabilidad, gracias.</p>
</section>

<section class="container">
	<img src="/images/canada_color.png" alt="canada logo" id="canada-logo" style="width: 500px; max-width:50vw; margin-left: auto;margin-right: auto;display: block;">
	<p class="{{c}}__description">Este proyecto fue apoyado por el Fondo Canadá para Iniciativas Locales de la Embajada de Canadá</p>
</section>

