---
title: SocorroBot | Amparo buscador
content_blocks:
  - _bookshop_name: content-halves-image
    title: Amparo buscador
    description_html: >-
      <br>
      <p>Cuando cualquier autoridad comete la desaparición o participa, permite, encubre, ordena, tiene conocimiento del paradero de una persona y lo oculta o retiene ilegalmente a la víctima, se considera que es una desaparición forzada. Comúnmente cometen estos crímenes las personas servidoras públicas encargadas de tareas de seguridad como militares, de la Marina, policías municipales o estatales, ministerios públicos, agentes de migración, aunque pueden tener otras funciones como encargados de albergues y orfanatos de gobierno.</p>
    image: /images/amparos.png
  - _bookshop_name: info-frame
    text: Esta sección <b>sólo</b> aplica en casos en los que <b>personas servidoras públicas</b> pparticipan de alguna manera en la desaparición, es decir, cuando son <b>desapariciones forzadas</b>.
  - _bookshop_name: html-block
    html: >-
      <p>Las desapariciones forzadas pueden darse en el ámbito estatal, cuando las comete una autoridad de la entidad como policías estatales o municipales o en el ámbito federal, si la autoridad es militar, marina, agente de migración o de la Guardia Nacional, por decir algunos.</p>
      <br>
      <p>Si requieres atención urgente porque tu caso se trata de una desaparición forzada la recomendación es:</p>
      <br>
      <ul>
        <li>Tramitar de manera inmediata un <b>amparo por desaparición forzada</b>. Este se debe presentar ante un juez de amparo, y al considerarse un caso urgente, tiene obligación de recibirte presencialmente, a la hora que sea, incluso sin necesidad de que te acompañe un abogado.</li>
        <li>Además, puedes presentar una <b>denuncia</b> ante la Fiscalía General de la República (FGR) o la Fiscalía General del Estado (FGE) que corresponda.</li>
      </ul>
  - _bookshop_name: panel-hero
    title: ¿Qué es un amparo?
    panel_1: >-
      <p>Un amparo es un juicio que puedes tramitar cuando existen actos de una autoridad que son violaciones a los derechos humanos como la desaparición forzada.</p>
      <br>
      <p>En términos generales, una demanda de amparo se hace a través de un escrito que entregas a un juez federal, idealmente un juez de amparo en materia penal o un juez de distrito mixtos, pero que también puedes hacer de manera oral solicitando en el juzgado federal una <b>comparecencia</b> que consiste en que cuentes ante una persona servidora pública del juzgado qué, quiénes, cómo y cuándo sucedió la desaparición forzada.</p>
    panel_2: >-
      <p>Hay jueces locales o estatales en los 32 estados del país pero <b>sólo algunos jueces federales pueden recibir y resolver los amparos</b>. Hay juzgados federales en las principales ciudades del país.</p>
      <br>
      <p>También puedes tramitar un amparo <a href="https://www.serviciosenlinea.pjf.gob.mx/juicioenlinea/Presentacion/RegistroDemanda">en línea</a>. Otra modalidad es hacerlo de manera presencial, aunque el juez no te reciba, deben aceptarte el documento escrito de tu demanda de amparo. No olvides llevar una identificación oficial vigente con foto.</p>
  - _bookshop_name: dropdown-list
    title: Preguntas frecuentes sobre amparos
    image: /images/open-newspaper-with-images-and-text (1).png
    items:
      - title: ¿En todos los casos se puede tramitar un amparo?
        description: 
          <p>No, sólo en los casos en que una autoridad como militares, marinos, Guardia Nacional, agentes de migración, policías municipales o estatales, ministerios públicos o cualquier otro servidor público, haya participado en la desaparición, que la haya permitido, encubierto, que haya sabido de ella y no la haya evitado de acuerdo con sus obligaciones o que trate de ocultar el paradero de la persona desaparecida. Recuerda que el amparo sirve para resolver actos de autoridad que violan los derechos humanos de las personas.</p>
          <br>
          <p>Esto quiere decir que cuando ocurre una desaparición cometida por particulares, es decir, por ciudadanos que no son autoridades de ningún tipo, como integrantes de grupos del crimen organizado, este tipo de amparo no será de utilidad. En estos casos puedes tramitar un amparo, pero sólo por fallas de la autoridad, por ejemplo, si la autoridad no te entrega copias del expediente o se niega a hacer alguna diligencia (acto de investigación) específica como solicitar el registro de llamadas o de ubicaciones del celular a través del GPS.</p>
      - title: ¿Por qué el amparo buscador puede ayudar a que las autoridades presenten a las víctimas de desaparición forzada?
        description: <p>Una persona que es juez puede obligar a las autoridades que presuntamente cometieron la desaparición a informar sobre detenciones u operativos que hayan realizado e incluso podría ingresar a las instalaciones donde podría estar retenida la persona desaparecida. También podría ordenar a los ministerios públicos a que realicen actos de investigación importantes como solicitar el registro de la ubicación del teléfono celular de la persona desaparecida o de videograbaciones que pudieran haber alrededor del lugar en donde ocurrió la desaparición.</p>
      - title: ¿Cómo puedo hacer mi amparo?
        description: 
          <p>Te recomendamos usar <a href="https://docs.google.com/document/d/1oyD7ii0NelfgiPeeMaQCojpR9eCcd9xU/edit?usp=sharing&ouid=110555892613224076059&rtpof=true&sd=true">esta plantilla</a> elaborada por la reconocida organización, el Centro de Derechos Humanos Agustín Pro Juárez (Centro Prodh), como ejemplo.</p>
          <br>
          <p>También está una <a href="https://docs.google.com/document/d/1MTB2n_eTRda2oWmMAaryTDZOPEofcJE8/edit?usp=sharing&ouid=110555892613224076059&rtpof=true&sd=true">plantilla</a> que hizo la Comisión Nacional de Búsqueda de Personas. Ambas son sencillas de llenar. Una vez llenado el documento de amparo con los datos correspondientes puedes presentarlo en el juzgado federal que te quede más cerca. Cualquier juez federal, sin importar el estado, debe recibir tu amparo, sin embargo, si está en tus posibilidades presentarlo en el juzgado del estado en donde ocurrió la desaparición, es recomendable hacerlo directamente ahí.</p>
      - title: ¿Puedo presentar el amparo en línea?
        description: <p>Puedes <a href="https://www.serviciosenlinea.pjf.gob.mx/juicioenlinea/Presentacion/RegistroDemanda">presentarlo en línea</a> aunque lo más recomendable es ir en persona y entregar el documento.</p>
  - _bookshop_name: seleccion-estado
    title: ¿Dónde puedo levantar un amparo?
    description: >-
      <p>Aquí podrás encontrar información específica sobre las autoridades en tu estado. Si no puedes ir al juzgado o estás en otro país pero tienes acceso a internet, puedes presentar el amparo en línea.</p>
    key_name: jueces
    place: "Estado"
    list: "estados"
    image: '/images/estado-1.png'
    image_alt: 'Elige tu estado'
    footer: >-
      <p>* <a href="https://socorrobot.org/pdf/guias-y-plantillas/guia-amparo-buscador.pdf">Esta es una guía</a> elaborada por la Comisión Nacional de Búsqueda de Personas para tramitar el amparo en línea.</p>
---