---
title: SocorroBot | Aviso de privacidad
content_blocks:
  - _bookshop_name: content-halves-text
    title: Aviso de privacidad
    description: >-
      <br>
      <p>En cumplimiento de las disposiciones contenidas en la <a href="https://www.gob.mx/indesol/documentos/ley-federal-de-proteccion-de-datos-personales-en-posesion-de-los-particulares">Ley Federal de Protección de Datos Personales en Posesión de los Particulares</a>, 
        en referencia a los datos personales recopilados mediante el chatbot SocorroBot, accessible en WhatsApp en el número +52 (559) 225-21740, así como en la página web SocorroBot accessible en la dirección web <a href="https://socorrobot.org">https://socorrobot.org</a>,  en este documento se detalla el Aviso de Privacidad.</p>
      <br>
      <p><b>Responsables y controlador de datos</b></p>
      <p>El sitio web <a href="https://socorrobot.org">https://socorrobot.org</a> y el chatbot SocorroBot, así como de decidir qué datos se recopilan y para qué se usan son responsabilidad compartida entre las organizaciones:</p>
      <br>
      <ul>
        <li class="no-margin">Quinto Elemento Lab</li>
        <li class="no-margin">Técnicas Rudas</li>
        <li class="no-margin">Codeando México</li>
      </ul>
      <br>
      <p><b>Información recolectada</b></p>
      <p>Si usted hace uso de la web o el chatbot de SocorroBot:</p>
      <br>
      <ul>
        <li class="no-margin">Al hacer uso de la página web, en ningún momento se recaban datos personales de los usuarios. La función de la web es proporcionar información y en ningún momento se solicita o monitorea información personal.</li>
        <li class="no-margin">La página web hace uso de Google Analytics para monitorear el acceso a la web y sus distintas partes por parte de los usuarios.</li>
        <li class="no-margin">Al hacer uso del chatbot, está haciendo uso de las plataformas TextIt y Twilio, las cuales son usadas como intermediarios para recibir y enviar mensajes desde y hacia WhatsApp. Estos proveedores registran los siguientes datos al interactuar con ellos:
        <ul>
            <li class="no-margin">Dirección IP</li>
            <li class="no-margin">Número de teléfono</li>
            <li class="no-margin">Fechas y contenido de los mensajes</li>
            <li class="no-margin">Otros datos, en su mayoría información que no permite identificar de manera única a una persona.</li>
        </ul>
        </li>
        <li class="no-margin"><a href="https://textit.com/policy/privacy/">Aviso de privacidad</a> de TextIt.</li>
        <li class="no-margin"><a href="https://www.twilio.com/legal/privacy">Aviso de privacidad</a> de Twilio.</li>
        <li class="no-margin"><a href="https://policies.google.com/privacy?hl=en-US">Aviso de privacidad</a> de Google Analytics.</li>
      </ul>
      <br>
      <p><b>Lo que hacemos con la información</b></p>
      <p>Tanto el sitio web como el chatbot buscan ofrecer información adecuada, relevante y específica a personas que están buscando a una persona desaparecida. Con este fin, en el chatbot se hacen preguntas para poder guiar mejor a las personas. En ningún caso, la respuesta a estas preguntas se guarda más allá del uso del chatbot y no se procesan de ninguna manera.</p>
      <br>
      <p>En ningún caso se recaban datos con fines comerciales o con fines políticos.</p>
      <br>
      <p>Los datos recabados durante el uso del sitio web y el chatbot son agregados y anonimizados para su posterior análisis con el fin de entender patrones de uso y medición de desempeño, únicamente con el fin de mejorar la usabilidad y así ser de mayor utilidad a los usuarios.</p>
      <br>
      <p>Como parte del proceso de mantenimiento del chatbot, de manera periódica se eliminan los datos de números de teléfono recabados de manera automática por Twilio y TextIt. Este proceso es manual.</p>
      <br>
      <p><b>Transmisión de sus datos personales</b></p>
      <p>Nos comprometemos a no compartir sus datos con terceros, tanto dentro como fuera de México.</p>
      <br>
      <p><b>Seguridad</b></p>
      <p>Los datos recopilados automáticamente por Twilio, TextIt y Google Analytics siguen los estándares de seguridad de estas compañías.</p>
      <br>
      <p><b>Derechos ARCO</b></p>
      <p>Los usuarios de nuestro sitio web o chatbot pueden ejercer sus derechos de Acceso, Rectificación, Cancelación y Oposición (ARCO) respecto de los datos personales recabados, así como limitar el uso de los mismos, enviando una solicitud a la dirección de correo electrónico a <a href="mailto:equipo@codeandomexico.org">equipo@codeandomexico.org</a>.</p>
      <br>
      <p>Mantener la privacidad y seguridad de sus datos es una prioridad para nosotros, y en caso de duda podemos recibir tus preguntas en el email mencionado en el párrafo anterior.</p>
      <br>
      <p><b>Más información</b></p>
      <p>Para más información sobre protección de datos personales puedes consultar la <a href="https://www.gob.mx/indesol/documentos/ley-federal-de-proteccion-de-datos-personales-en-posesion-de-los-particulares">Ley Federal de Protección de Datos Personales en Posesión de los Particulares</a>  y visitar el sitio web del <a href="https://home.inai.org.mx/">Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales</a> (INAI).</p>
      <br>
      <p><b>Aceptación del aviso de privacidad</b></p>
      <p>Al momento de usar la página web o el chatbot de SocorroBot tendrá la posibilidad de conocer este Aviso de Privacidad, el cual es aceptado de manera implícita en la web y de manera explícita al hacer uso del chatbot.</p>
      <br>
      <p>Al momento de enviar el formulario se le dará a conocer el presente Aviso de Privacidad el cual acepta de forma electrónica mediante el icono respectivo.</p>
      <br>
      <p><b>Modificaciones al Aviso de Privacidad</b></p>
      <p>Quinto Elemento Lab, Codeando México y Técnicas Rudas se reservan el derecho a efectuar modificaciones o actualizaciones a este Aviso de Privacidad con el fin de cumplir con nuevas disposiciones establecidas en materia de protección de datos personales, cambios en las políticas internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios.</p>
      <br>
      <p>Última fecha de actualización: 22 de agosto de 2022</p>
---