---
title: SocorroBot | Colectivos
content_blocks:
  - _bookshop_name: content-halves-image
    reversed_only_mobile: true
    title: Colectivos
    description_html: >-
      <br>
      <p>En México y Centroamérica hay grupos de familiares de personas desaparecidas organizados para buscar a sus seres queridos y exigir que las autoridades les localicen; también hay organizaciones ciudadanas que pueden orientarte.</p>
    image: /images/colectivos.png
  - _bookshop_name: seleccion-estado
    title: ¿Dónde puedo encontrar colectivos?
    description: >-
      <p>Aquí podrás encontrar información de los colectivos que hay en cada estado de México y en los países de centroamérica.</p>
    key_name: colectivos
    place: "Estado"
    list: "estados"
    image: '/images/extranjero.png'
    image_alt: 'Elige un estado'
---