---
title: SocorroBot | Comisiones DDHH
content_blocks:
  - _bookshop_name: content-halves-image
    reversed_only_mobile: true
    title: Comisiones de Derechos Humanos
    description_html: >-
      <br>
      <p>Todas las autoridades, en el ámbito de sus competencias, tienen la obligación de promover, respetar, proteger y garantizar los derechos humanos.</p>
      <br>
      <p>Si sabes o sospechas que elementos de instituciones federales como la Secretaría de la Defensa Nacional (Sedena), de la Marina (Semar), del Instituto Nacional de Migración (INM), de la Fiscalía General de la República (FGR) o cualquier institución federal cometen la desaparición o participan, permiten, encubren la ordenan, tiene conocimiento del paradero de una persona y lo oculta o la retienen ilegalmente a la víctima, puedes acudir a la <b>Comisión Nacional de Derechos Humanos (CNDH) o a sus delegaciones en los Estados</b>, para tramitar una queja por desaparición forzada. En los casos que autoridades estatales o municipales estén involucradas, puedes acudir a la <b>Comisión de Derechos Humanos del estado donde ocurrió la desaparición</b>. En caso de no ser posible por algún motivo, por ejemplo, si estás demasiado lejos, acude a la Comisión de Derechos Humanos más cercana para poner tu queja.</p>
    image: /images/comisiones-1.png
  - _bookshop_name: html-block
    html: >-
      <p>También puedes tramitar una queja ante estos organismos si los agentes de la Fiscalía o de la Comisión de Búsqueda no hacen su trabajo para localizar a la persona desaparecida, y así presionar a las autoridades para que investiguen la desaparición y realicen búsquedas.</p>
  - _bookshop_name: info-frame
    text: Si estás en El Salvador, Guatemala u Honduras, puedes pedir a la Procuraduría, Comisión o Defensoría de Derechos Humanos de tu país que te oriente sobre cómo presentar quejas contra las autoridades mexicanas.
  - _bookshop_name: seleccion-estado
    title: ¿Dónde puedo encontrar Comisiones de Derechos Humanos?
    description: >-
      <p class="c-seleccion-estado__description">Aquí podrás encontrar información de las Comisiones de Derechos Humanos que hay en cada estado y las Procuradurías o Defensorías en centroamericano.</p>
    key_name: comisiones-ddhh
    place: "Estado"
    list: "estados"
    image: '/images/extranjero.png'
    extra_info: >-
---