---
title: SocorroBot | Contacto
content_blocks:
  - _bookshop_name: html-block
    html: >-
      <div
        style="margin-bottom: 100px;"
      >
        <h2>Contacto</h2>
        <br>
        <p>Puedes escribirnos a través de correo electrónico a las siguientes direcciones:</p>
        <br>
        <ul>
          <li>Codeando México: <a href="mailto:equipo@codeandomexico.org">equipo@codeandomexico.org</a></li>
          <li>Quinto Elemento Lab: <a href="mailto:quintoelab@gmail.com">quintoelab@gmail.com</a></li>
          <li>Ténicas Rudas: <a href="mailto:tacolpena@tecnicasrudas.org">tacolpena@tecnicasrudas.org</a></li>
        </ul>
        <br>
      </div>
---