---
title: SocorroBot | Datos abiertos
content_blocks:
  - _bookshop_name: content-halves-image
    title: Datos abiertos
    description_html: >-
      <br>
      <p>Los datos de fiscalías, comisiones de búsqueda, colectivos de familiares, etcétera, son de vital importancia para las personas que empiezan a buscar a alguien.</p>
      <br>
      <p>Esta información está dispersa en multitud de lugares, con distintos formatos y en muchos casos está desactualizada o incorrecta. Como parte del proceso de investigación para este proyecto se recopilaron y verificaron cientos de datos pertenecientes a las entidades correspondientes, además, como parte del proceso generamos enlaces directos a Google Maps para facilitar la localización física de las mismas.</p>
      <br>
      <p>En esta sección puedes descargar información perteneciente a:</p>
      <br>
      <ul>
        <li><a href="http://datamx.io/dataset/jueces-federales-que-pueden-admitir-amparos-por-desaparicion-forzada">Jueces federales que pueden admitir amparos por desaparición forzada</a></li>
        <li><a href="http://datamx.io/dataset/comisiones-nacionales-de-derechos-humanos">Comisiones Nacionales de Derechos Humanos</a></li>
        <li><a href="http://datamx.io/dataset/comisiones-estatales-de-derechos-humanos">Comisiones Estatales de Derechos Humanos</a></li>
        <li><a href="http://datamx.io/dataset/fiscalias-especializadas-en-desaparicion-estatales-y-federal">Fiscalías Especializadas en Desaparición estatales y federal</a></li>
        <li><a href="http://datamx.io/dataset/delegaciones-fiscalia-general-de-la-republica">Delegaciones Fiscalía General de la República</a></li>
        <li><a href="http://datamx.io/dataset/comisiones-estatales-y-nacional-de-busqueda">Comisiones Estatales y Nacional de Búsqueda</a></li>
        <li><a href="http://datamx.io/dataset/colectivos-de-familiares-de-desaparecidos">Colectivos de familiares de desaparecidos</a></li>
        <li><a href="http://datamx.io/dataset/consulados-y-embajadas-de-mexico-en-el-extranjero">Consulados y Embajadas de México</a></li>
        <li><a href="http://datamx.io/dataset/agregadurias-de-la-fgr-en-el-extranjero">Agregadurías de la FGR en el extranjero</a></li>
        <li><a href="http://datamx.io/dataset/defensorias-del-pueblo-en-centroamerica">Defensorías del pueblo en Centroamérica</a></li>
      </ul>
      <br>
      <p>Estos datos están publicados en formato CSV bajo licencia <a href="http://www.opendefinition.org/licenses/odc-by">Open Data Commons Attribution License</a></p>
    image: /images/datos-1.png   
  - _bookshop_name: html-block
    html: 
      '<div
        style="margin: 2rem;"
      ></div>'
---