---
title: SocorroBot | Denuncia y reporte
content_blocks:
  - _bookshop_name: panels
    title: Denuncia y reporte
    description: 
      Para que las autoridades empiecen la búsqueda de una persona debes hacer una <b>denuncia</b> o un <b>reporte</b>. Si hay varias personas apoyándote, pueden dividirse e ir a la Fiscalía Especializada en Desaparición (para la denuncia) y a la Comisión de Búsqueda (para el reporte).
      <br>
      <br>
      No importa la nacionalidad de la persona desaparecida o si entró al país de manera irregular –sin documentos–, las autoridades mexicanas están obligadas a buscarla.
    panel_3:
      <h2 class="panel-title">1. Denuncia</h2>
      <p>Una <b>denuncia</b> ante la fiscalía activa la búsqueda y la investigación del delito, y puede detonar acciones importantes como pedir la geolocalización de celulares, las llamadas recientes u ordenar cateos. Estas acciones, que sólo pueden hacer las fiscalías, en algunos casos podrían aumentar la probabilidad de encontrar a la persona desaparecida.</p>
    panel_4:
      <h2 class="panel-title">2. Reporte</h2> 
      <p>Un <b>reporte</b>  ante la Comisión de Búsqueda tiene por objetivo buscar a la persona, independientemente de si denunciaste en Fiscalía o no. Si sospechas que alguien de la fiscalía puede estar involucrado o desconfías que sea seguro poner una denuncia, entonces puedes levantar un reporte sin que se notifique a la fiscalía.</p>
  - _bookshop_name: info-frame
    text: Si sospechas que alguna autoridad participó en la desaparición de la persona, la ocultó o la ordenó, podría tratarse de una desaparición forzada. Puedes tramitar una demanda de amparo buscador ante un Juez Federal para que exija la búsqueda. <a href="/amparo-buscador">Aquí</a> te explico cómo hacerlo. 
  - _bookshop_name: content-halves-image
    description_html: >-
      <p>Te recomiendo acudir a la Fiscalía Especializada o Comisión de Búsqueda del estado donde ocurrió la desaparición para presentar la denuncia o reporte. En caso de no ser posible por algún motivo, por ejemplo, si estás demasiado lejos, acude a la Fiscalía Especializada o Comisión más cercana para realizar la denuncia o el reporte.</p>
      <br>
      <p>También puedes tramitar una denuncia o reporte <a href="/desde-el-extranjero">desde el extranjero</a>.</p>
    image: /images/Artboard2.png
  - _bookshop_name: panels
    title: Tipos de autoridad
    description: "Hay dos tipos de autoridades que tienen la responsabilidad de investigar la desaparición y localizar a la persona que buscas: las federales y las estatales."
    panel_3: >-
      <h2 class="panel-title">a) ¿Cuándo es un caso federal?</h2>
      <br>
      <ul>
        <li class="no-margin">Cuando la persona desaparecida es extranjera.</li>
        <li class="no-margin">Cuando quienes cometen la desaparición son personas servidoras públicas federales como militares, de la Marina, elementos del Instituto Nacional de Migración, de la Guardia Nacional, de la Fiscalía General de la República (FGR) u otras instituciones.</li>
      </ul>
      <br>
      <p>Si la desaparición de la persona que buscas es un caso <b>federal</b>:</p>
      <br>
      <ul>
        <li class="no-margin"><b>Denuncia</b>: Acudir a la Fiscalía General de la República o a alguna de sus delegaciones estatales.</li>
        <li class="no-margin"><b>Reporte</b>: Contactar a la Comisión Nacional de Búsqueda (CNB).</li>
      </ul>
    panel_4: >-
      <h2 class="panel-title">b) ¿Cuándo es un caso estatal?</h2>
      <br>
      <ul>
        <li class="no-margin">Cuando la desaparición es cometida por particulares, por ejemplo, integrantes de grupos criminales.</li>
        <li class="no-margin">Cuando quienes cometen la desaparición son personas servidoras públicas estatales como policías municipales, de tránsito, estatales o elementos de la Fiscalía del Estado u otras instituciones municipales.</li>
      </ul>
      <br>
      <p>Si la desaparición de la persona que buscas es un caso <b>estatal</b>:</p>
      <br>
      <ul>
        <li class="no-margin"><b>Denuncia</b>: Acude a la Fiscalía General del Estado (FGE), idealmente en la Fiscalía Especializada en Desapariciones. Cada Fiscalía estatal debe contar con una.</li>
        <li class="no-margin"><b>Reporte</b>: Contacta a la Comisión Estatal de Búsqueda (CEB).</li>
      </ul>
    footer: "Si vas a denunciar la desaparición de personas extranjeras, las autoridades estatales pueden recibir las denuncias o reportes. Sin embargo, las organizaciones que acompañan a las familias de las víctimas de este tipo de casos recomienda que se tramiten ante instancias federales, es decir, la FGR y la CNB, respectivamente."
  - _bookshop_name: seleccion-estado
    title: ¿Dónde puedo levantar la denuncia y/o reporte?
    description: >-
      Aquí puedes encontrar información sobre las autoridades en tu estado. Si estás denunciando desde un estado distinto a donde ocurrió el hecho, es importante que exijas que las autoridades donde estás levantando la denuncia manden la carpeta a la fiscalía especializada del estado donde sucedió la desaparición.
    key_name: denuncia-y-reporte
    place: "Estado"
    list: "estados"
    image: '/images/estado-1.png'
    image_alt: 'Elige tu estado'
    footer: >-
      <p>* Si quieres saber más sobre qué te van a pedir en ambos casos, puedes ver esta <a href="/guias-y-plantillas">guía</a></p>
---