---
title: SocorroBot | Desaparición Forzada
content_blocks:
  - _bookshop_name: content-halves-image
    image: /images/Artboard1.png
    image_alt: desaparición forzada
    title: Desaparición Forzada
    description_html: >-
      <p>Cuando cualquier autoridad, comúnmente encargadas de tareas de seguridad como militares, marinos, policías municipales o estatales, ministerios públicos, agentes de migración o cualquier otro servidor público, participa, ordena o tiene conocimiento de una detención o cualquier forma de privación de la libertad de una persona y lo ocultan, se considera que es una desaparición forzada. Estas desapariciones pueden darse en el ámbito estatal, cuando las comete una autoridad del estado como policías estatales o municipales o en el ámbito federal, si la autoridad es militar, marino, agente de migración o de la guardia nacional, por decir algunos.</p>
  - _bookshop_name: html-block
    html: >-
      <p>Si se tiene conocimiento de una desaparición forzada la recomendación es:</p>
      <ul>
        <li>Tramitar de manera inmediata un <b>amparo por desaparición forzada</b>. Esta se debe presentar ante un juez de amparo, y al considerarse un caso urgente, tiene obligación de recibirte presencialmente, incluso sin necesidad de que te acompañe un abogado.</li>
        <li>Además, puedes presentar una <b>denuncia</b> ante la Fiscalía General de la República (FGR) o la Fiscalía General del Estatal (FGE) que corresponda.</li>
      </ul>
---