---
title: SocorroBot | Desde el Extranjero
content_blocks:
  - _bookshop_name: panels
    title: Desde el extranjero
    description: 
      No importa la nacionalidad de la persona desaparecida o si entró al país de manera irregular –sin documentos–, las autoridades mexicanas <b>están obligadas</b> a buscarla.
      <br>
      <br>
      Para que las autoridades empiecen la búsqueda debes hacer una <b>denuncia</b> o un <b>reporte</b>. Puedes hacerlo desde tu país de residencia.
    panel_3:
      <h2 class="panel-title">1. Denuncia</h2>
      <p>Una <b>denuncia</b> ante la Fiscalía General de la República (FGR) activa la búsqueda y la investigación del delito, y puede activar acciones importantes como pedir la geolocalización de celulares, las llamadas recientes u ordenar cateos. Estas solicitudes, que sólo pueden hacer las fiscalías, en algunos casos podrían aumentar la probabilidad de encontrar a la persona desaparecida. La denuncia se realiza en una embajada o consulado mexicano o en una agregaduría de la Fiscalía General de la República (FGR) <b>en tu país</b>.</p>
    panel_4:
      <h2 class="panel-title">2. Reporte</h2> 
      <p>Un <b>reporte</b> ante la Comisión Nacional de Búsqueda tiene por objetivo buscar a la persona, independientemente de si denunciaste ante la Fiscalía o no. Puedes hacerlo vía telefónica <b>a un número gratuito internacional (185-52-62-31-09)</b> o en la <a href="https://cnbreportadesaparecidos.segob.gob.mx/Pages/TerminosyCondiciones.aspx">página web</a> del Registro Nacional de Personas Desaparecidas y No Localizadas.</p>
      # Block 2
  - _bookshop_name: info-frame
    text: Si estás en El Salvador, Guatemala u Honduras, puedes pedir a la Procuraduría, Comisión o Defensoría de Derechos Humanos de tu país que te oriente sobre cómo denunciar o reportar desapariciones ocurridas en México.
  - _bookshop_name: seleccion-estado
    title: ¿Dónde puedo levantar la denuncia y/o reporte?
    description: >-  
      <p>Aquí podrás encontrar a las instituciones y colectivos en tu país.</p>
      <p>Si vives en algún país de Centroamérica, también te recomiendo contactar <b>en tu país</b> a colectivos de familiares de personas desaparecidas en México.</p>
    key_name: desde-el-extranjero
    place: "País"
    list: "paises"
    image: '/images/extranjero.png'
---