---
title: SocorroBot | Guias y plantillas
content_blocks:
  - _bookshop_name: gallery
    title: Guías y plantillas
    description: <p>Aquí podrás encontrar plantillas, guías y otros recursos útiles para tu búsqueda</p><br>
    gallery_name: guias-y-plantillas
  - _bookshop_name: gallery
    title: Recursos para personas migrantes
    description: <br>
    gallery_name: guias-y-plantillas-migrantes
---