---
title: SocorroBot
content_blocks:
  - _bookshop_name: hero
    title: Hola,
    description_html: >-
      <p>soy <b>SocorroBot</b> y te guiaré en el proceso de denuncia y reporte de la desaparición de una persona en México. Te daré información sobre las autoridades encargadas de atender el caso y sus datos para que les contactes, los documentos que necesitarás, tus derechos y otros consejos. ¿Quieres hablar conmigo?</p>
    image: /images/socorrobot-redonda.png
    image_alt: '&nbsp;SocorroBot image'
    cta_button: Habla con SocorroBot
    cta_button_link: "https://wa.me/5215592252174"
  # Block 2
  - _bookshop_name: content-halves-image
    reversed: true
    title: ¿Cómo te puede guiar SocorroBot?
    description_html: >-
      <br>
      <p>SocorroBot no reemplaza una denuncia o reporte ni tiene conexión con autoridades, sino que es una guía para apoyar a quienes buscan a una persona desaparecida.</p>
      <br>
      <p>Las rutas que SocorroBot sugiere están basadas en las obligaciones de las autoridades estatales y federales, en los protocolos existentes, en consejos de personas expertas, así como en los derechos que se tienen por ley.</p>
      <br>
      <p>Puedes conocer más sobre este proyecto <a href="/sobre-el-proyecto" class="primary-color underline bold">aquí</a>.</p>
    image: /images/chatbot-1.png
    image_alt: SocorroBot
    # Block 3
  - _bookshop_name: video
---




