---
title: SocorroBot | Protocolos de búsqueda
content_blocks:
  - _bookshop_name: content-halves-image
    title: Protocolos de búsqueda
    description_html: >-
      <br>
      <p>Los protocolos o mecanismos especializados son documentos con una serie de pasos que las autoridades deben seguir para la búsqueda de las personas desaparecidas de acuerdo a características o condiciones específicas. Los hay para mujeres, niñas, niños y adolescentes y personas migrantes.</p>
      <br>
      <p>Actualmente, el protocolo que todas deberían seguir es el Protocolo Homologado para la Búsqueda de Personas Desaparecidas y No Localizadas (PHB). Sin embargo, si en el estado en el que haces tu denuncia o reporte por desaparición existen protocolos adicionales, estos <b>deben activarse complementariamente</b>.</p>
      <br>
      <p>Estos son los protocolos y mecanismos que deben ser aplicados en la mayoría de los estados del país.</p>
    image: /images/protocolos.png
  - _bookshop_name: dropdown-list
    items:
      - title: Protocolo Homologado para la Búsqueda de Personas Desaparecidas y No Localizadas
        description: 
          <p>Su propósito es homologar en todo el país, y para todas las fiscalías e instituciones, los procesos de búsqueda para localizar a las personas, brindarles auxilio si están extraviadas o en peligro, o localizar, recuperar, identificar y restituir con dignidad sus restos a sus familias en el caso de que hayan perdido la vida o hayan sido privados de ella.</p>
          <br>
          <p>Su cumplimiento <b>es obligatorio para todas las personas servidoras públicas</b> cuya colaboración es necesaria para localizar a las personas desaparecidas.</p> 
          <br>
          <a href="https://drive.google.com/file/d/1rLUtlCm16b5YLhd53MYnuwqA1qlhf5H7/view?usp=sharing">Consultar el documento</a>
      - title: Protocolo Adicional para la Búsqueda de Niñas, Niños y Adolescentes (PANNA)
        description: 
          <p>Este protocolo forma parte del Protocolo Homologado de Búsqueda de Personas Desaparecidas y No Localizadas. Incluye mejorar la eficiencia de la búsqueda de niñas, niños y adolescentes. Busca coordinar y establecer una misma base en el país en cuanto a la búsqueda de niñas, niños y adolescentes desaparecidos.</p>
          <br>
          <a href="https://drive.google.com/file/d/17kY31emGyVzIDcRni3oGZjtxeWMfkpct/view?usp=sharing">Consultar el documento</a>
      - title: Protocolo Homologado de Investigación de los delitos de Desaparición Forzada de Personas y Desaparición cometida por Particulares
        description: 
          <p>Guía las acciones que los elementos de las Fiscalías del país deben realizar cuando estén frente a una denuncia por una presunta desaparición forzada –cuando personas servidoras públicas participan en la desaparición, la permiten, encubren, saben de ella y no la evitan de acuerdo con sus obligaciones u ocultan el paradero de la persona desaparecida– o frente a una denuncia por desaparición cometida por particulares –la que comente personas <b>no servidoras públicas</b>, como por ejemplo integrantes de grupos criminales–. También establece las directrices de coordinación con las autoridades que intervienen en la búsqueda e investigación de estos casos.</p>
          <br>
          <a href="https://drive.google.com/file/d/1g7rV8mSDnyeJbnJvAscgJysFcMzOrOUg/view?usp=sharing">Consultar el documento</a>
      - title: Alerta AMBER
        description: 
          <p>Es una herramienta para ayudar a la rápida localización y recuperación de niñas, niños y adolescentes que estén en riesgo inminente de sufrir daño grave por motivo de no localización o cualquier circunstancia en la que se crea que pudo haber un delito ocurrido en territorio nacional. Consiste en la difusión masiva e inmediata de un formato estándar de datos acompañado de una fotografía de la persona, en todos los medios de comunicación disponibles; para ello, requiere que instituciones de un mismo estado y de otros estados del país se coordinen.</p>
          <br>
          <p>La alerta es independiente del proceso de denuncia o el proceso penal que inicien las autoridades competentes.</p>
          <p>Se tramita en cada una de las fiscalías del país y debe haber un comité que valore la activación de la Alerta.</p>
          <br>
          <a href="https://drive.google.com/file/d/1RpbKMyeLQ5h7F_8X-eo9prEk_-ZmNdix/view?usp=sharing">Consultar el documento</a>
      - title: Protocolo Alba
        description: 
          <p>Este protocolo aplica para niñas y mujeres adolescentes y adultas . Busca eliminar los obstáculos basados en estereotipos sobre la desaparición de las mujeres que pudiera minimizar la gravedad del delito, por ejemplo, cuando la autoridad te dice que debes esperar 72 horas para poner una denuncia. No todas las fiscalías del país cuentan con este protocolo.</p>
          <br>
          <a href="https://drive.google.com/file/d/1i9d-s1CAE5NwDqP1moe9h4rWGZdWPKA6/view?usp=sharing">Consultar el documento</a>
      - title: Mesa de Búsqueda de Personas Migrantes Desaparecidas y Mecanismo de Apoyo Exterior de Búsqueda e Investigación (MAEBI)
        description: 
          <p>Aunque estos no son protocolos en sí mismos, sí son herramientas fundamentales para la búsqueda de personas extranjeras –con o sin documentos para ingresar legalmente al país– que fueron desaparecidas o de las que se supo por última vez en México.</p>
          <br>
          <p>Por eso, es importante solicitar a las autoridades consulares, de las embajadas o agregadurías mexicanas en el extranjero, o a la Fiscalía General de la República y la Comisión Nacional de Búsqueda de Personas que la desaparición de una persona extranjera sea incluida en la Mesa y el Mecanismo.</p>
          <br>
          <p>El MAEBI es un conjunto de acciones, medidas e instituciones que deben facilitar el acceso a la justicia de las personas migrantes y sus familias. Tiene la obligación de recibir denuncias, reportes o noticias sobre la desaparición de personas migrantes. Por su parte, la Mesa de Búsqueda es un espacio permanente de articulación, intercambio de información y colaboración entre familias, organizaciones civiles, organismos internacionales, instituciones del Estado mexicano y extranjeras para impulsar la búsqueda de personas migrantes en el corredor migratorio Centroamérica-México.</p>
          <br>
          <a href="https://drive.google.com/file/d/1kdVyI1KrfPBmJQFlgXnyHM0ANZEvu8zt/view?usp=sharing">Consultar Lineamientos del MAEBI.</a>
          <a href="https://drive.google.com/file/d/1dZdlPe5qYOSwCzE_XjvkEkKuOIcLM6l-/view?usp=sharing">Consultar Lineamiento de la Mesa de Búsqueda.</a>
          
  - _bookshop_name: html-block
    html: 
      '<div
        style="margin: 2rem;"
      ></div>'
---