---
title: SocorroBot | Acerca de
content_blocks:
  - _bookshop_name: content-halves-image
    title: Acerca de SocorroBot
    description_html: >-
      <br>
      <p>Éste es un proyecto cuyo objetivo es guiar a quienes están buscando a personas desaparecidas, dando claridad para sortear las barreras administrativas y legales que se pueden encontrar.</p>
      <br>
      <p>Es el resultado de varios años de trabajo para obtener información verificada, investigar protocolos, legislaciones y procedimientos, recopilar buenas prácticas, evaluar soluciones tecnológicas, tomar decisiones de seguridad e implementar la versión final.</p>
    image: /images/acerca-1.png
    image_alt: Acerca de SocorroBot
    width: 300
    height: 300
  - _bookshop_name: content-halves-image
    reversed: True
    title: Metodología
    description_html: >-
      <br>
      <p>Durante la elaboración del proyecto nos enfocamos en:</p>
      <br>
      <ol>
        <li><b>Crear alianzas y conformar un equipo interdisciplinario</b>: necesario para idear e implementar un proyecto periodístico y tecnológico.</li>
        <li><b>Recopilar datos y verificar</b>: los datos se recopilaron manualmente o a través de procesos de solicitud de información.</li>
        <li><b>Sistematizar datos</b>: en una base de datos que puede ser consultada por quien lo necesite o descargarse como datos abiertos.</li>
        <li><b>Diseño conversacional</b>: se realizaron múltiples interacciones en el diseño del flujo de conversación de SocorroBot para tener una experiencia sencilla y útil.. Para ello se diseñaron perfiles simulados de personas usuarias que permitieron realizar pruebas con distintas perspectivas y vivencias.</li>
        <li><b>Pruebas de usabilidad</b>: como parte de la elaboración de esta herramienta, se llevaron a cabo pruebas con colectivos y personas usuarias sin experiencia en el tema, lo que nos ayudó a mejorar la experiencia de usabilidad.</li>
      </ol>
    image: /images/person-managing-digital-tasks.png
    image_alt: Metodología
  - _bookshop_name: panels
    title: Sobre la solución tecnológica
    description: "El proyecto consiste en tres partes:"
    panel_1: >-
      <h2 class="panel-title" >Chatbot</h2>
      <p>El chatbot es una herramienta de chat, para asistir en el proceso de búsqueda de personas desaparecidas. El chat funciona a través de WhatsApp.</p>
      <br>
      <p>Elegimos WhatsApp por ser el más familiar y extendido entre el público mexicano y, por lo tanto, el más accesible.</p> 
      <br>
      <p>WhatsApp por sí solo no permite crear chatbots, y para la lógica y modelado del asistente se usó la herramienta de código abierto <a href="https://textit.com/">TextIt</a>. Esta permite modelar de manera gráfica el flujo y las interacciones de un chatbot y es posible conectarlo con diversos servicios de mensajería instantánea como SMS, WhatsApp, Telegram, etc.</p>
    panel_3: >-
      <h2 class="panel-title">Página web</h2>
      <p>La página web es un complemento al chatbot y contiene información sobre el proyecto y buscadores de datos para ayudar tanto en la denuncia y reporte como en el caso de desaparición forzada.</p>
      <br>
      <p>La página está creada como un sitio web y está publicada bajo licencia libre en la plataforma GitLab, que permite revisar su código y descargar los recursos y datos usados en su elaboración.</p>
      <br>
      <p>Puedes encontrar el código de la página en el <a href="https://gitlab.com/CodeandoMexico/socorro">repositorio de GitLab.</a></p>
    panel_4: >-
      <h2 class="panel-title" >Datos Abiertos</h2>
      <p>La información de fiscalías, comisiones de búsqueda, colectivos, etc, es de vital importancia para quienes empiezan a buscar a una persona desaparecida. Todos los datos recopilados y verificados están disponibles para descarga de manera gratuita.</p>
      <br>
      <p>Más información y enlaces de descarga en la <a href="/datos-abiertos">página de datos abiertos.</a></p> 
  - _bookshop_name: quienes-somos
---