---
title: SocorroBot | Términos y condiciones
content_blocks:
  - _bookshop_name: content-halves-text
    title: Términos y condiciones
    description: >-
      <br>
      <p>SocorroBot es un chatbot, desarrollado en colaboración de Quinto Elemento Lab, Técnicas Rudas y Codeando México, que usa WhatsApp como una plataforma de interacción con usuarios que deseen recibir información sobre qué deberían hacer cuando están empezando con la búsqueda de una persona.</p>
      <br>
      <p>El usuario del chatbot declara haber leído, entendido y aceptado los presentes términos y con lo cual se adhiere a ellas plenamente y sin reservas. El uso de este servicio está sujeto al estricto cumplimiento de los términos recogidos en las presentes condiciones y, en su caso, a las condiciones particulares que resulten de su aplicación.</p>
      <br>
      <p>El usuario declara y garantiza estar apto y tener capacidad legal para aceptar las presentes condiciones y usar este servicio conforme a ellas.</p>
      <br>
      <p><b>Acerca del Servicio</b></p>
      <p>El chatbot SocorroBot recaba información del usuario a través de preguntas con opciones predefinidas. Tomando en cuenta las respuestas proporciona información específica sobre:</p>
      <br>
      <ul>
        <li>Delegaciones de la Fiscalía General de la República</li>
        <li>Fiscalías especializadas en materia de desaparición y localización de personas</li>
        <li>Comisiones de Búsqueda</li>
        <li>Comisiones nacionales y estatales de Derechos Humanos</li>
        <li>Colectivos de Búsqueda</li>
        <li>Agregadurías de la FGR en el extranjero</li>
        <li>Consulados y embajadas de México en el extranjero</li>
        <li>Consejos de seguridad</li>
        <li>Otras recomendaciones</li>
      </ul>
      <br>
      <p>Toda esta información fue obtenida de fuentes públicas y/o expertos en la materia y no es información confidencial.</p>
      <br>
      <p>Toda la información que se proporciona ha sido verificada por los equipos de Quinto Elemento Lab, Técnicas Rudas y Codeando México. Sin embargo, esta información se ofrece tal cual, sin garantías de que no haya cambiado desde que se recopiló y verificó, o de que contenga errores.</p>
      <br>
      <p><b>Uso y registro del servicio</b></p>
      <p>El usuario podrá hacer uso del servicio sin ningún costo y sin necesidad de registrarse previamente.</p>
      <br>
      <p>La conversación con el chatbot solo puede ser iniciada por el usuario, y en ningún momento el chatbot contactará a ningún usuario de manera directa.</p>
      <br>
      <p>El usuario declara conocer y aceptar que el servicio estará habilitado de modo indefinido; sin embargo acepta que este podrá ser deshabilitado en cualquier momento. Asimismo, acepta que en caso de identificarse un mal uso o uso indebido de los recursos habilitados a través del servicio, se podrá revocar el acceso y/o adoptar cualquier otra medida que se estime conveniente.</p>
      <br>
      <p>De manera general, todo usuario por el simple hecho de acceder al servicio SocorroBot se obliga a:</p>
      <br>
      <ul>
        <li>Hacer uso del Servicio únicamente para fines lícitos y/o en forma diligente y correcta.</li>
        <li>No vulnerar derechos de terceros.</li>
      </ul>
      <br>
      <p><b>Reconocimiento y liberación de responsabilidad</b></p>
      <p>El Usuario asume totalmente la responsabilidad por permitir el acceso a terceros a su sesión de WhatsApp, liberando a Quinto Elemento Lab, Técnicas Rudas y Codeando México de toda responsabilidad por el mal uso.</p>
      <br>
      <p>El Usuario declara conocer y aceptar que, por la propia naturaleza de los servicios que se brindan a través de Internet, éstos se encuentran sujetos a la disponibilidad, restricciones de uso y limitaciones de Internet, así como otros factores externos, por lo que libera a Quinto Elemento Lab, Técnicas Rudas y Codeando México de toda responsabilidad por los perjuicios que pudiesen derivarse de dicho suceso.</p>
      <br>
      <p>El usuario es responsable del uso que le de a la información proporcionada por el chatbot SocorroBot, y en ningún caso podrá hacer responsable a Quinto Elemento Lab, Técnicas Rudas y Codeando México de las consecuencias de usar el mismo.</p>
      <br>
      <p><b>Modificaciones</b></p>
      <p>Quinto Elemento Lab, Técnicas Rudas y Codeando México podrán introducir cambios a las presentes Condiciones. El uso del servicio por parte del usuario después de dicha notificación de modificación del servicio constituirá la aceptación tácita a dichos cambios, por lo que declara conocer que la versión que se encontrará disponible en <a href="https://socorrobot.org/terminos-y-condiciones">https://socorrobot.org/terminos-y-condiciones</a> será la vigente al momento de su consulta.</p>
      <br>
      <p><b>Datos personales</b></p>
      <p>El usuario declara conocer y aceptar las disposiciones sobre protección de datos personales establecidas en el documento Aviso de Privacidad, disponible en la dirección <a href="">https://socorrobot.org/aviso-de-privacidad</a>.</p>
      <br>
      <p><b>Acuerdo</b></p>
      <p>Las presentes Condiciones de acceso al chatbot constituyen la totalidad de los términos y condiciones acordados entre usted (el usuario) y Quinto Elemento Lab, Técnicas Rudas y Codeando México. Usted asume y acepta que dará el buen uso al presente servicio de acuerdo con las instrucciones entregadas.</p>
---