<!-- begin hero -->
{% assign c = "c-map" %}
<section class="{{c}}__container animate container">
	<h2>{{include.title}}</h2>
	<p>{{include.description}}</p>
	<div id="map"></div>
</section>

<!-- end hero -->