.c-map__container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 1.5rem;
	
	&.container {
		padding: 0;
	}
}

#map {
	height: 500px;
	width: 100%;
	z-index: 1;

	@media only screen and (max-width: $tablet) {
		display: none;
	}
	
}