<!-- begin hero -->
{% assign c = "c-html" %}
<section class="{{c}} animate {%if include.background_color_alt %} bg-alt {%endif %}">
  <div class="container">
		{{ include.html }}
  </div>
</section>
<!-- end hero -->