/* Hero */
.c-hero {
	background-color: $background-color-hightlight;

	&__btn {
		margin-top: 24px;

		& i {
			margin-right: 8px;
		}
	}

	&__img img {
		width: 420px;
	}


	@media only screen and (max-width: $tablet) {
		padding: 24px 0;

		& .halves {
			flex-direction: column-reverse;
		}

		&__text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			& .c-hero__title {
				align-self: flex-start;
			}
		}
		
	}
}

