<!-- begin hero -->
{% assign c = "c-hero" %}
<section class="{{c}} animate">
  <div class="container">
		<div class="halves">
			
			<div class="half {{c}}__text">
				<h1 class="{{c}}__title">{{ include.title }}</h1>
				<div class="{{c}}__description">{{ include.description_html }}</div>
				<div class="{{c}}__btn">
					<a href="{{ include.cta_button_link }}" class="cta-button c-button c-button--primary c-button--small"><i class="uil uil-whatsapp"></i> {{ include.cta_button }}</a>
				</div>
			</div>

			<div class="half {{c}}__img">
				<img loading="lazy" src="{{ site.baseurl }}{{ include.image }}" alt="{{ include.hero_image_alt }}">
			</div>

		</div>

  </div>
</section>
<!-- end hero -->