/* Halves */
.c-halves {

	& .halves {
		justify-content: flex-start;

		&.reversed {
			flex-direction: row-reverse;
			@media screen and (max-width: $tablet) {
				flex-direction: column;
			}
		}

		&.reversed_only_mobile {
			@media screen and (max-width: $tablet) {
				flex-direction: column-reverse;
			}
		}
	}

	&__img--container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__img {
		max-width: 300px;

		@media screen and (max-width: $tablet) {
			margin: 1rem 0;
			max-width: 240px;
		}
	}
}