<!-- Content in half -->
{% assign c = "c-halves" %}
<section class="{{c}} animate">
  <div class="container halves {%if include.reversed %} reversed {%endif %} {%if include.reversed_only_mobile %} reversed_only_mobile {%endif %}">

			<div class="half c-halves__text">
				<h1 class="{{c}}__title">{{ include.title }}</h1>
				<div class="{{c}}__description">{{ include.description_html }}</div>
			</div>

			<div class="half c-halves__img--container">
				<div class="c-halves__img">
					<img loading="lazy" src="{{ site.baseurl }}{{ include.image }}" alt="{{ include.hero_image_alt }}">
				</div>
			</div>

  </div>
</section>
<!-- end hero -->