<!-- begin header -->
<header class="c-header">
	<div class="c-header__inner">

		<div class="logo">
			<a class="logo__link only-desktop" href="{{ site.baseurl }}/">
			{%if site.data.navigation.logo_image %}
				<img class="logo__image only-desktop" src="{{ site.baseurl }}{{ site.data.navigation.logo_image }}" alt="{{ site.data.general_settings.title }}">
			{% else %}
				{{ site.data.general_settings.title }}
			{% endif %}
			<a href="https://wa.me/5215592252174" class="nav__link only-mobile" id="bot-btn" target="_blank"> <i class="uil uil-whatsapp"></i> Ir a SocorroBot</a>
			</a>
		</div>

		<nav class="main-nav">
			<div class="main-nav__box">

				<div class="nav__icon-close">
					<i class="ion ion-md-close"></i>
				</div>

				<div class="nav__title">Menu</div>

					<ul class="nav__list list-reset">
					<li class="nav__item only-mobile">
						<a href="/" class="nav__link white">Inicio</a>
					</li>
					{% for item in site.data.navigation.menu__settings.menu__items %}
						{% if item.submenu %}
						<li class="nav__item dropdown">
							<span class="nav__link white dropdown-toggle">{{ item.title }} <i class="ion ion-ios-arrow-down arrow-down"></i></span>
							<div class="dropdown-menu">
								{% for submenu-item in item.submenu %}
									<a href="{{ submenu-item.url }}" class="nav__link{% if page.url == submenu-item.url %} active-link{% endif %}">{{submenu-item.title}}</a>
								{% endfor %}
							</div>
						</li>

						{% else %}
						<li class="nav__item">
							<a href="{{ item.url | relative_url }}" class="nav__link white{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
						</li>
						{% endif %}
					{% endfor %}
					<li class="nav__item">
						<a href="https://wa.me/5215592252174" class="nav__link only-desktop" id="bot-btn" target="_blank"> <i class="uil uil-whatsapp"></i> Ir a SocorroBot</a>
					</li>

				</ul>
			</div>

			{% comment %}{% bookshop_include social-link %} {% endcomment %}
		</nav>

		<div class="nav-button">
			<i class="nav__icon nav__icon-menu ion ion-md-menu"></i>
		</div>

	</div>
</header>
<!-- end header -->