<!-- begin hero -->
{% if include.image %}
	{% assign c = "c-dropdown-list" %}
{% else %}
	{% assign c = "c-dropdown-list full-page" %}
{% endif %}
<section class="{{c}} animate">
	<div class="container">
		{% if include.title %}
			<h2 class="c-dropdown-list-title">{{include.title}}</h2>
		{% endif %}
		<div class="halves">
			<div class="half dropdown-list-container">
				<ul class="dropdown-list">
					{% for item in include.items %}
						<li class="dropdown-item">
							<h3 class="dropdown-title">{{item.title}} <i class="uil uil-angle-down"></i></h3>
							<div class="dropdown-description">{{item.description}}</div>
						</li>	
					{% endfor %}
				</ul>
			</div>
			{% if include.image %}
				<div class="half dropdown-img-container">
					<img class="dropdown-list-img" loading="lazy" src="{{ site.baseurl }}{{ include.image }}" alt="{{ include.alt }}">
				</div>
			{% endif %}
		</div>
  </div>
</section>

<script defer src="{{ site.baseurl }}/js/dropdown-list.js"></script>
<!-- end hero -->