.c-dropdown-list-title {
	margin-bottom: 2rem;
}

.dropdown-img-container {
	text-align: center;
}

.dropdown-list-img {
	max-width: 300px;

	@media only screen and (max-width: $tablet) {
		display: none;
	}
}

.dropdown-list {
	list-style: none;
}

.dropdown-list-container {
	text-align: start;
}

.dropdown-title {
	font-size: 16px;
	font-weight: 500;
	background-color: #D9D9D9;
	padding: 8px 16px 8px 16px;
	border-radius: 4px;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: space-between;

	& i {
		font-size: 20px;
		font-weight: bold;

		transition: all 200ms ease-in-out;

		.dropdown-item.activated & {
			transform: rotate(180deg);
		}
	}
}

.dropdown-description {
	padding: 0 1rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 500ms cubic-bezier(0, 1, 0, 1);
}

.dropdown-item.activated .dropdown-description {
	max-height: 1000px;
  transition: max-height 500ms ease-in-out;
}

.c-dropdown-list.full-page {
	& .half {
		width: 100%;
	}
}