{% assign c = "c-download-btns" %}
<div class="{{c}} noselect">
	<h2 class="{{c}}__title">
		{{ include.title }}
		<i class="{{c}}__icon uil uil-angle-right-b"></i>
	</h2>
	<p class="{{c}}__content">
		{{ include.content }}
	</p>
</div>
