// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 20px;

// Border radius
$global-radius: 8px;

// Transition
$global-transition: all .35s;

// Special
$btn_size: 3.2rem;
$icon_pos: -1.6rem; // -$btn_size / 2

// *****************
// Typography
// *****************
$base-font-size: 14px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Rubik', Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 1.8;

// Headings
$heading-font-weight: 600;
$heading-font-family: 'Rubik', Helvetica Neue, Helvetica, Arial, sans-serif;

$font-size-h1:  24px;
$font-size-h2:  24px;
$font-size-h3:  24px;
$font-size-h4:  24px;
$font-size-h5:  24px;
$font-size-h6:  24px;


$heading-line-height: 1.2;
$heading-letter-spacing: -1px;
$heigh-of-header: 5rem;