/* Color Scheme */
$primary-color: #2E7E87;
$secondary-color: #003687;
$white: #fff;
$dark: #110E38;
$gray: #d9d9d9;
$light-gray: #f5f5f5;
$blue-gray: #d5dce3;

$background-color: #FEF4EA;
$background-color-alt: #FEF4EA;
$background-color-hightlight: #FFDFC4;

$text-color: $dark;

$heading-font-color: $text-color;

$link-color: $text-color;
$link-color-hover: $text-color;

$button-color: $background-color-alt;
$button-background-color: $primary-color;
$button-background-hover: darken($primary-color, 5%);

$border-color: $blue-gray;

$hr-color: $text-color;
$tr-color: #f0f0f0;

$syntax-highlighting-background: #f3f3f3;