/* Footer */
.footer {
  position: relative;
  overflow: hidden;
  background: $primary-color;
  padding: 60px 0 20px;

  .social {
    margin-bottom: 40px;

    .social__item {
      margin: 0 2px;
      font-size: 0;
    }

    .social__link {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      border-radius: 50%;
      color: $primary-color;
      background: $white;
      transition: all .25s;
      will-change: transform;

      &:hover {
        transform: scale(0.9);
        color: $primary-color;

        &::after {
          content: none;
        }
      }

      &::after {
        content: none;
      }
    }
  }

  .footer_nav {
    text-align: center;

    .footer_nav__item {
      display: inline;
      margin: 0 24px;
      font-size: 0;
    }

		.footer_logo {
			width: 150px;
			margin: 2rem 2rem;

			@media only screen and (max-width:$tablet) {
				margin: 1rem;
			}
		}

    .footer_nav__link {
			text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      color: $white;
    }
  }

  @media only screen and (max-width: $desktop) {
    padding: 80px 0 60px;
  }

  @media only screen and (max-width: $mobile) {
    //margin-top: 30px;
     padding: 60px 0;

     .footer_nav {
      .footer_nav__item {
        margin: 0 12px;
      }
     }
  }

	@media only screen and (max-width: 400px) {
		margin-top: 100px;
	}
}

.footer_contact {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	@media only screen and (max-width: 400px) {
		flex-direction: column;
		justify-content: space-around;
	}

	.footer_contacts {
		font-size: 1rem;
		color: $white;
		@media only screen and (max-width: 400px) {
			margin: 0;
		}

	}
}

/* Copyright */
.copyright {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: rgba($white, 0.7);

  p {
    margin: 0;
  }

  a {
    font-weight: 500;
    color: $white;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 14px;
  }
}
