/* Header */
.c-header {
	position: fixed;
	top: 0;
	width: 100%;
  transition: $global-transition;
	background-color: $white;
	z-index: 100;
	height: $heigh-of-header;
	animation-name: fadeIn;
	animation-duration: 1s;
	padding: 0 3rem;
	// box-shadow: 0 1px 10px black;

	@media only screen and (max-width: $change) {
		padding: 1rem 2rem 0.5rem 2rem;
		height: auto;
	}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.c-header__inner {
  display: flex;
  align-items: center;
	justify-content: space-between;
  width: 100%;
}

/* Logo */
.logo__link {
  font-family: $heading-font-family;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -1px;
  font-weight: 600;
	white-space: nowrap;
	text-decoration: none;
	color: $primary-color;

	&:hover {
		color: $primary-color;
	}
}

.logo__image {
  max-height: 50px;
}

/* Nav */
.main-nav {
	height: $heigh-of-header;
  display: flex;
  align-items: center;
  margin-left: auto;

	&.is-open {
		height: 100vh;
		z-index: inherit;
	}

  .social {
    margin-left: auto;

    .social__link {
      font-size: 18px;
      vertical-align: middle;
    }
  }

	.nav__link {
		color: $primary-color;
		text-decoration: none;
	}
	.nav__link.white {
		color: $primary-color;
		@media only screen and (max-width: $change) {
			color: $primary-color;
		}
	}

	.nav__item:hover {
		color: $primary-color;
	}

  @media only screen and (max-width: $change) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    margin: 0;
    opacity: 0;
    overflow: auto;
    background: $white;
    transition: all .25s ease;
		margin-left: 0;

    &.is-open {
      z-index: 999;
      opacity: 1;
      transition: all .25s ease;
    }

    .nav__list {
      width: 100%;
      max-width: 360px;
      padding-left: 40px;

      .nav__item {
        display: block;
        margin: 0;

        &:last-child {
          margin-right: 0;
        }

        .dropdown-menu {
          position: relative;
          left: 0;
          padding: 0;
          opacity: 1;
          visibility: visible;
          transform: scale(1);
          box-shadow: none;

          .nav__link {
            margin-left: 8px;
            margin-bottom: 16px;
            font-size: 15px;

            &::before {
              content: "– ";
            }

            &:last-child {
              margin-bottom: 24px;
            }
          }
        }

        .nav__link {
          display: block;
          padding: 0;
          margin-bottom: 24px;
          font-size: 18px;
          font-weight: 600;

          &:hover {
            background-color: inherit;
          }

          .arrow-down {
            display: none;
          }

          &.active-link,
          &.cc-active {
            color: $primary-color;

            &::after {
              content: none;
            }
          }
        }
      }
    }

    .social {
      margin-left: 28px;

      .social__list {
        justify-content: flex-start;
      }
    }
  }
}

.main-nav__box {
  display: flex;
  align-items: center;
	padding-right: 1rem;

  .nav__icon-close {
    position: absolute;
    top: 20px;
    right: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    background: linear-gradient(90deg, $primary-color 0%, $secondary-color 167%);

    &:hover {
      .ion-md-close {
        transform: rotate(90deg);
      }
    }

    .ion-md-close {
      color: $white;
      transition: $global-transition;
      will-change: transform;
    }
  }

  .nav__title {
    display: none;
  }

  @media only screen and (max-width: $change) {
    display: block;
    margin: 24px 0;

    .nav__icon-close {
      display: flex;
    }

    .nav__title {
      display: block;
      padding: 0 0 24px 40px;
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 1;
      font-weight: 900;
      color: $heading-font-color;
      border-bottom: 1px solid $border-color;
    }
  }

  @media only screen and (max-width: $mobile) {
    .nav__icon-close {
      right: 30px;
    }
  }
}

.nav__list {

  .nav__item {
    display: inline-block;
    margin: 0 24px;

    &:last-child {
      margin-right: 0;
    }

    .nav__link {
      position: relative;
      padding-bottom: 10px;
      font-size: 16px;
      line-height: 1;
      font-weight: 600;
      cursor: pointer;

      &.white:hover {
				color: $primary-color;
				@media only screen and (max-width: $change) {
					color: $primary-color;
				}
      }

      &.active-link {

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -6px;
          transform: translateX(-50%);
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $primary-color;
        }
      }
    }

    &.dropdown {
      position: relative;

      .arrow-down {
        vertical-align: middle;
      }

      &:hover {
        .dropdown-menu {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    transform: translateZ(0) scale(0.9);
    backface-visibility: hidden;
    z-index: 100;
    min-width: 200px;
    display: block;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease;
    border-radius: 8px;
    box-shadow: 0px 20px 20px rgba($primary-color, 0.07);
    background-color: $white;

    .nav__link {
      display: flex;
      padding: 8px 12px;
      font-size: 15px;
      border-radius: 4px;
      will-change: transform;

      &:hover {
        background-color: rgba($primary-color, 0.1);
      }

      &.active-link,
      &.cc-active {
        color: $primary-color;

        &::after {
          content: none;
        }
      }
    }
  }
}

.nav-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: $text-color;
  cursor: pointer;

  .nav__icon-menu {
    display: none;
		color: $primary-color;
  }

  @media only screen and (max-width: $change) {
    margin-left: auto;

    .nav__icon-menu {
      display: block;
    }
  }
}

#bot-btn {
	background-color: $primary-color;
	padding: 0.5rem;
	border-radius: 5px;
	color: white;

	@media only screen and (max-width: $change) {
		background-color: $primary-color;
		color: $white;
		padding: 0.5rem;
		border-radius: 5px;
	}
}

.only-mobile {
	display: none !important;
}

@media only screen and (max-width: $change) {
	.only-mobile {
		display: block !important;

		text-decoration: none;
		font-weight: 600;

		& i {
			font-size: 16px;
			margin-right: 4px;
		}
	}

	.only-desktop {
		display: none !important;
	}
}