<!-- Content in half -->
{% assign c = "c-panel" %}
<section class="{{c}} animate {%if include.background_color_alt %} bg-alt {%endif %}">
  <div class="container">
		<h2 class="panels-title">{{ include.title }}</h2>
		<p class="panels-description">{{ include.description }}</p>
		<div class="panels-container">
			<div class="panels-left">
				{% if include.panel_1 %}
					<div class="panel" id="panel-1">
						<div class="panel-content">
							{{ include.panel_1 }}
						</div>
					</div>
				{% endif %}
				{% if include.panel_2 %}
					<div class="panel" id="panel-2">
						<div class="panel-content">
							{{ include.panel_2 }}
						</div>
					</div>
				{% endif %}
			</div>
			<div class="panels-right">
				{% if include.panel_3 %}
				<div class="panel" id="panel-3">
					<div class="panel-content">
						{{ include.panel_3 }}
					</div>
				</div>
				{% endif %}
				{% if include.panel_4 %}
				<div class="panel" id="panel-4">
					<div class="panel-content">
						{{ include.panel_4 }}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<footer class="panels-footer">
			{{include.footer}}
		</footer>
  </div>
</section>
<!-- end content in half -->