.c-panel {
	font-size: 14px;
}

.panels-title {
	font-size: 24px;
	margin-bottom: 1rem;
}

.panels-description {
	margin-bottom: 1rem;
}

.panels-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	@media (max-width: $tablet) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.panels-right {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;

	& .panel {
		width: 50%;

		@media only screen and  (max-width: $tablet) {
			width: 100%;
		}
	}

	@media only screen and  (max-width: $tablet) {
		flex-direction: column;
		& .panel:first-of-type {
			margin: 0 0 1rem 0;
		}
	}
}

.panel {
	background-color: $background-color-hightlight;
	border-radius: 8px;
	padding: 1rem;
	margin-bottom: 1rem;
	font-size: 14px;
	padding: 24px;
}

.panels-left, .panels-right {
	width: 100%;
}

.panel-title {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.panel a {
	color: $primary-color;
	font-weight: bold;
	text-decoration: underline;
}

.panels-footer {
	padding: 0 1rem;
}