{% assign c = 'c-gallery' %}
<section class="{{c}}">
	<div class="container">
		<h2 class="gallery__title">{{include.title}}</h2>
		<br>
		<p class="gallery__description">{{include.description}}</p>
		<div class="gallery__container">
			{% for item in site.data[include.gallery_name] %}
				<div class="gallery__card">
					<div class="gallery__card--img">
						<img src="{{site.baseurl}}/images/{{include.gallery_name}}/{{item.images}}" alt="Imagen de {{item.title}}">
					</div>
					<div class="gallery__card--description">
						<a class="gallery__card--download-button" href="{{site.baseurl}}/{{item.type}}/{{include.gallery_name}}/{{item.file}}" target="_blank">
							<i class="uil uil-external-link-alt"></i>
							Abrir
						</a>
						<p class="gallery__card--title">{{item.title}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>