.gallery__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	gap: 1.3rem;
}

.gallery__card {
	width: 300px;
	height: 310px;
	background-color: $background-color-hightlight;
	border-radius: 4px;
}

.gallery__card--img {
	width: 100%;
	height: 200px;
	overflow: hidden;
	border-radius: 4px;

	border: 1px dashed #000000;

	& img {
		object-fit: cover;
	}
}

.gallery__card--description {
	display: flex;
	align-items: flex-start;
	padding: 1rem;
}

.gallery__card--download-button {
	text-decoration: none;
	color: black;
	font-weight: 500;
	background-color: #FFF4EB;
	padding: 4px 8px;
	border-radius: 4px;
	
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	& i {
		margin-right: 0.5rem;
	}

	&:hover {
		color: black;
	}
}

.gallery__card--title {
	font-weight: 500;
	margin-left: 0.5rem;
	line-height: 20px;
}