*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $heading-font-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.is-in {
    &::after {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }

  &::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 15;
    transition: 1s;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 14px;
  }
}

*::selection {
  color: $white;
  background-color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  position: relative;
  margin: 44px 0;
  padding-left: 44px;
  font-size: 32px;
  line-height: 1.3;
  font-weight: 400;
  font-style: normal;
  border-left: 6px solid $primary-color;


  p {
    margin-bottom: 0;
  }

  @media only screen and (max-width: $desktop) {
    font-size: 14px;
    padding-left: 24px;
  }

  @media only screen and (max-width: $mobile) {
    margin: 32px 0;
    font-size: 14px;
  }
}

pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

img,
.lightense-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

img,
.lightense-wrap,
.gallery {

  img {
    border-radius: 16px;
    
    &.lightense-open {
      border-radius: 0;
    }
  }

  &+em {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: $heading-font-color;
  
    a {
      border-bottom: 2px solid $border-color;
      transition: $global-transition;

      &:hover {
        color: $link-color-hover;
        border-color: transparent;
      }
    }
  
  }

  @media only screen and (max-width: $mobile) {
    img {
      border-radius: 8px;
    }

    &+em {
      margin-top: 12px;
    }
  }
}

a {
  text-decoration: underline;
  color: $primary-color;
  transition: $global-transition;

  &:hover {
    color: $secondary-color;
  }
}

hr {
  position: relative;
  display: block;
  height: 1px;
  margin: 60px 0;
  border: 0;

  &::before {
    content: ". . .";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    line-height: 0;
    color: $hr-color;
  }
}

.table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

table {
  font-size: 12px;
  color: $text-color;
  width: 100%;
	overflow-x: scroll;
  border-width: 1px;
  border-color: $primary-color;
  border-collapse: collapse;
  color: var(--heading-font-color);
}

table th {
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border: 1px solid $secondary-color;
  color: $white;
  font-weight: 700;
  background-color: $primary-color;
}

table tr {
  background-color: $tr-color;
  transition: all .3s ease;
  &:nth-child(even) {
    background-color: transparent;
  }
}

table td {
  padding: 10px;
  font-size: 14px;
  border: 1px solid $primary-color;
}

.lazy {
  opacity: 0;
  transition: 0.8s ease-in-out;
}

.lazy.loaded {
  opacity: 1;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background: #1496a78a;
}

::-webkit-scrollbar-thumb:hover {
	background: #1496a7;
}