/**
 * Shared declarations for certain elements.
 */


/**
 * Consistent indentation for lists.
 */


h1 {
	line-height: 28px;
	font-size: 24px;
	font-weight: 600;
}

ul, ol,
dd {
  margin-left: $base-spacing-unit;
}

ul, ol {
  li {
    margin-bottom: 10px;
  }
}

section {
	margin-bottom: 2rem;
}

.c-page {
	padding-top: calc(#{$heigh-of-header});
	
	& > section:first-of-type {
		padding-top: 1rem;
	}

	@media only screen and (max-width: 1350px) {
		padding-top: calc(#{$heigh-of-header - 0.5rem});
	}
}

.no-margin {
	margin: 0;
}

.flex-container {
	display: flex;
	flex-direction: row;

	&.column {
		flex-direction: column;
	}
}

.halves {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	& .half {
		width: 50%;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}