<!-- Content in half -->
{% assign c = "c-info" %}
<section class="{{c}} animate {%if include.background_color_alt %} bg-alt {%endif %}">
	<div class="container">
		<div class="info-frame-container">
			<i class="uil uil-info-circle"></i>
			<p>{{ include.text }}</p>
		</div>
  </div>
</section>
<!-- end content in half -->