.info-frame-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #D9D9D9;
	border-radius: 8px;
	gap: 12px;
	padding: 24px 24px;

	margin-bottom: 2rem;

	& i {
		font-size: 32px;
		margin-right: 12px;
	}

	@media only screen and (max-width: $tablet) {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		& i {
			margin: 0;
		}
	}
}