.c-seleccion-estado-container {
	padding: 24px;
	background-color: $background-color-hightlight;
	border-radius: 8px;
	margin-bottom: 2rem;
}

.c-seleccion-estado__img-container {
	margin: 0 40px;

	max-width: 300px;
	max-height: 300px;
	
	@media only screen and (max-width: $tablet) {
		margin: 1rem 0;
	}

	& img {
		max-width: 100%;
		max-height: 300px;
	}
}

#search-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	max-width: 128px;
	margin-left: 16px;

	& i {
		margin-right: 8px;
	}
}

.c-seleccion-estado__selector {
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 100%;
}

select {
	width: 50%;
	border-radius: $global-radius;
	text-align: center;
}

.c-seleccion-estado__footer {
	padding: 1rem 3rem;
	
	@media only screen and (max-width: $tablet) {
		padding: 0;
	}
}

.c-seleccion-estado__extra {
	margin-top: 1rem;
}