{% assign c = "c-seleccion-estado" %}
<section class="{{c}}" id="{{c}}__section">
	<div class="container selection {{c}}-container">
		<div class="halves {{c}}__text-container">
			<div class="{{c}}__img-container half">
				<img loading="lazy" src="{{ site.baseurl }}{{ include.image }}" alt="{{include.image_alt}}">
			</div>

			<div class="{{c}}__text half">
				<h2 class="{{c}}__title">{{ include.title }}</h2>
				<br>
				<p>{{ include.description }}</p>
				<br>
				<div class="{{c}}__selector">
					<select size="1" id="{{ include.key_name }}__selector">
						<option value=""> Escoge tu {{ include.place }} </option>
						{% for place in site.data[include.list] %}
							<option value="{{place}}">{{ place }}</option>
						{% endfor %}
					</select>
					<button class="cta-button c-button c-button--primary c-button--selector" id="search-btn">
						<i class="uil uil-search"></i> Buscar
					</button>
				</div>
			</div>
		</div>
		
		{% if include.extra_info %}
			<div class="flex-container column {{c}}__extra-info-container">
				<div class="{{c}}__extra">{{include.extra_info}}</div>
			</div>
		{% endif %}

		{% if include.footer %}
			<footer class="{{c}}__footer">
				{{ include.footer }}
			</footer>
		{% endif %}
	</div>
</section>

<script defer src="{{ site.baseurl }}/js/maps/maps.js"></script>
<script defer src="{{ site.baseurl }}/js/maps/mexico.js"></script>

<script defer src="{{ site.baseurl }}/js/tables/tables.js"></script>
<script defer src="{{ site.baseurl }}/js/generate-pages/generate-pages.js"></script>
<script defer src="{{ site.baseurl }}/js/generate-pages/{{ include.key_name }}-generate-page.js"></script>