/* Page tables */
.c-table {

	margin-bottom: 3rem;

	& table {
		border-collapse:collapse;
		table-layout: fixed;
	}

	& th {
		background-color: #4D4743;
	}

	& td, th {
		word-wrap: break-word;
		border: 1px solid #FFDFC4;
	}

	& td:first-of-type {
		font-weight: 500;
	}

	& tr:nth-child(2n + 1) {
		background-color: white;
	}

	& tr:nth-child(2n) {
		background-color: #F1F1F1;
	}
}

.table__title {
	margin-bottom: 1rem;
}

.table__container {
	padding: 0;

	@media only screen and (max-width: $tablet) {
		padding: 0 1rem;
	}
}

@media only screen and (max-width: $tablet)  {
	.responsive  {
		table, td, tr, td, thead, tbody {
			display:block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		& thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		& tr {
			border: 1px solid gray;
			margin: 0 0 3rem 0;

			td {
				/* Behave  like a "row" */
				max-width: none;
				border: none;
				border-bottom: 1px solid gray;
				position: relative;
				padding-left: 50%;
	
				&:before {
					/* Now like a table header */
					position: absolute;
					/* Top/left values mimic padding */
					top: 0;
					left: 10px;
					width: 49%;
					padding-right: 10px;
					white-space: nowrap;
				}

			  	&:last-child {
					border-bottom: 0;
				}

				&:nth-child(even) {
					background-color: #F1F1F1;
				}
			}

		}
	}
}
