.c-panel-hero .container {
	background-color: $background-color-hightlight;
	border-radius: 8px;
	padding: 1rem;
	margin-bottom: 2rem;
}

.panel-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;

	@media only screen and (max-width: $tablet) {
		flex-direction: column;
	}
}

.c-panel-hero .panel {
	width: 50%;
	background-color: transparent;
	padding: 0;
	@media only screen and (max-width: $tablet) {
		width: 100%;
	}
}

.c-panel-hero .panel:first-of-type {
	margin-right: 2rem;
}

.panel-hero-title {
	margin-bottom: 1rem;
}