<!-- Content in half -->
{% assign c = "c-panel-hero" %}
<section class="{{c}} animate {%if include.background_color_alt %} bg-alt {%endif %}">
  <div class="container">
		<h2 class="panel-hero-title">{{include.title}}</h2>
		<div class="panel-container">
			{% if include.panel_1 %}
			<div class="panel">
					{{ include.panel_1 }}
				</div>
			{% endif %}
			{% if include.panel_2 %}
				<div class="panel">
					{{ include.panel_2 }}
				</div>
			{% endif %}
		</div>
  </div>
</section>
<!-- end content in half -->