.c-halves-text .halves {
	align-items: flex-start;

	& .half {
		margin-right: 2rem;
		@media only screen and (max-width: $tablet) {
			&:first-of-type {
				margin: 0 0 1.3rem 0;
			}
		}
	}
}

	.c-halves-text__title {
		font-size: 24px;
		margin-bottom: 1rem;
		line-height: 28px;

		@media only screen and (max-width: $tablet) {
			margin-bottom: 0.5rem;
		}
	}

.c-halves-text__subtitle {
	font-size: 16px;
	margin-bottom: 1rem;
}
