<!-- Content in half -->
{% assign c = "c-halves-text" %}
<section class="{{c}} animate">
	<div class="container text-only">
		<h1 class="{{c}}__title" >{{ include.title }}</h1>
		<p class="{{c}}__description">{{ include.description }}</p>
		<br>
		<div class="halves">
			<div class="half text-only">
				<h3 class="{{c}}__subtitle">{{ include.title_1 }}</h1>
				<div class="{{c}}__description">{{ include.content_1 }}</div>
			</div>

			<div class="half text-only">
				<h3 class="{{c}}__subtitle">{{ include.title_2 }}</h3>
				<div class="{{c}}__description">{{ include.content_2 }}</div>
			</div>
		</div>
  </div>
</section>
<!-- end content in half -->