<!-- begin hero -->
{% assign c = "c-video" %}
<section class="{{c}} animate">
  <div class="c-video__container">
		<iframe src="https://www.youtube.com/embed/i43c_iK3_aM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<!-- end hero -->