.c-video {
  width: 80%; 
	max-width: 600px; 
	height: 100%; 
	background: #CCC;
	margin: 0 auto;
}

.c-video__container {
	margin: 7rem 0;
	position: relative; 
	padding-top: 56%;

	& iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@media only screen and (max-width: $tablet) {
		margin: 1rem 0;
	}
}